h1 {
    color: red;
}

p {
    color: blue;
    font-size: 20px;
}

ul {
    color: pink;
    font-size: 10px;
}

html {
    background-color: purple;
}

img {
    width: 100px;
    height: 100px;
}

.wrapper {
    background-color: teal;
}

span {
    color: green;
}

input, textarea {
    display: block;
}

li {
    display: inline;
}

article {
    background-color: aqua;
    margin-top: 10px;
}

article header {
    border-bottom: black solid 2px;
}

nav {
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav ul {
    list-style-type: none;
    font-size: 24px;
    margin: auto;
    flex-direction: row;
}

nav ul li:not(:last-child):after {
    content: ' | ';
}
footer {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

footer a {
    color: black;
    font-size: 24px;
}
